.container {
    padding: 40px 20px 20px 20px;
    margin-bottom: 40px;
    border-radius: 20px 20px 0 0;
    background-image: url("/images/reliability_bg.png");
    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* height: 600px; */
}

.realiabilityInfoItem {
    border-top: 1px solid #0081ff;
    border-radius: 20px;
    padding: 28px 30px;
    background: linear-gradient(180deg, #1d2431 0%, rgba(17, 17, 17, 0) 100%);
}

.infoWrap {
    display: flex;
    align-items: center;
    gap: 20px;

}

.iconWrap {
    max-width: 54px;
    flex-shrink: 0;
}

.title {
    font-weight: 600;
    /* font-size: 18px; */
    font-size: clamp(15px, calc(15px + (18 - 15) * ((100vw - 320px) / (370 - 320))), 18px);
    line-height: 100%;
    /* text-transform: uppercase; */
    color: var(--red);
    margin-bottom: 8px;
}

.text {
    /* font-size: 14px; */
    font-size: clamp(12px, calc(12px + (14 - 12) * ((100vw - 320px) / (370 - 320))), 14px);
    color: var(--white);
    max-width: 196px;
}