.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 61px;
    background-color: var(--red);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}