.text {
  font-size: 18px;
  color: var(--black-light);
  line-height: 150%;
}

.boldSmallText {
  font-size: 18px;
  font-weight: 700;
  color: var(--black-light);
  line-height: 150%;
}

.actionText {
  font-size: 22px;
  font-weight: 700;
  color: var(--black-light);
  line-height: 150%;
  text-align: center;
}

.textWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
