.planList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #4467f127;
  border: 2px solid var(--accent);
  border-radius: 12px;
}

.inputWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 16px;
  background-color: var(--white);
  box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1);

  border-radius: 12px;
  transition: border var(--trans-dur) var(--trans-timing-function);

  .mainWrap {
    display: flex;
    align-items: center;
    gap: min(4vw, 17px);
    cursor: pointer;

    .packageInfoWrap {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .packageTitleWrap {
        display: flex;
        align-items: center;
        gap: 6px;

        .packageImg {
          flex-shrink: 0;
          width: 34px;
        }

        .packageTitle {
          font-size: 20px;
          font-weight: 700;
          color: var(--accent);
        }
      }

      .packageDescription {
        font-size: 12px;
        color: var(--accent);
      }
    }
    .packageIconWrap {
      flex-shrink: 0;
      width: 32px;
      height: 32px;
    }

    .packageIcon {
      transform: rotate(0deg);
      transition: transform 0.9s ease;
    }
  }

  .infoList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 24px;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease,
      margin-top 0.3s ease;

    .infoItem {
      .infoText {
        font-size: 12px;
        color: var(--accent);
        line-height: 150%;
      }
    }
  }

  &.open .infoList {
    max-height: 1000px;
    margin-top: 16px;
    opacity: 1;
  }

  &.open .packageIcon {
    transform: rotate(180deg);
  }
}
