.blockWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1),
    0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background: var(--white);
}

.bgGreen {
  background: var(--green-bg);
}

.bigPadding {
  padding: 48px;
}
