.container {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px 0px;
    background-color: var(--black);
}

.logoWrap {
    width: 74px;
    height: 24px;
}