.text {
  font-size: 16px;
  color: var(--black-light);
  line-height: 150%;
}

.bold {
  font-weight: 600;
}

.reachGoalsWrap {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.reachGoalsLeft {
  aspect-ratio: 1/1;
  flex: 1 1 calc(50% - 8px);
  background-image: url("/images/sprints/red-circle.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

.reachGoalsRight {
  aspect-ratio: 1/1;
  flex: 1 1 calc(50% - 8px);
  background-image: url("/images/sprints/green-circle.png");
  background-repeat: no-repeat;
  background-size: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

.reachGoalsTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.reachGoalsTextPercent {
  font-size: 20px;
  color: var(--black-light);
  font-weight: 600;
}

.reachGoalsText {
  font-size: 12px;
  color: var(--black-light);
  font-weight: 600;
}

.reachGoalsTitlle {
  font-size: 16px;
  color: var(--black-light);
  font-weight: 600;
}

.actionText {
  width: 100%;
  font-size: 16px;
  color: var(--black-light);
  line-height: 150%;
  font-weight: 600;
  text-align: center;
}

.linkText {
  width: 100%;
  color: var(--accent);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
