.textAreaPageWrap {
  /* padding-top: 68px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 32px;
}

.imageWrap {
  width: 260px;
}

.infoTextWrap {
  display: flex;
  flex-direction: column;
}

.infoText {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-light);
  line-height: 180%;
  white-space: pre-line;
}

.secondaryText {
  font-size: 14px;
  font-weight: 400;
  color: var(--black-light);
}

.textarea {
  font-family: var(--font-inter), sans-serif;
  font-size: 14px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--accent);
  width: 100%;
  height: 115px;
  resize: none;
}
