.text {
  font-size: 16px;
  color: var(--black-light);
  line-height: 150%;
}

.boldText {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.graphikWrap {
  width: 100%;
  padding: 0 16px;
  display: flex;
  gap: 16px;
  align-items: flex-end;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px solid var(--black-light);
  background: linear-gradient(to top, var(--white) 50%, #6365f124 50%);
}

.onYourOwn {
  flex: 1 1 calc(50% - 8px);
  background-color: #6b7280;
  padding: 12px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.withChat {
  flex: 1 1 calc(50% - 8px);
  background-color: var(--accent);
  padding: 12px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: -11px 8px 19px 0px rgba(0, 0, 0, 0.26);
}

.blockTitle {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  text-align: center;
  margin-bottom: 10px;
}

.graphikList {
  padding-left: 16px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.listText {
  font-size: 12px;
  font-weight: 600;
  color: var(--white);
}

.offerWrap {
  width: 90%;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: -11px 8px 19px 0px rgba(0, 0, 0, 0.26);
  overflow: hidden;
}

.timerWrap {
  background: #f87171;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.headerText {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  line-height: 1;
}

.contentWrap {
  background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%);
  padding: 21px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.infoText {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  text-align: center;
}

.btnSmallText {
  font-size: 12px;
  font-weight: 600;
  color: var(--accent);
}

.btnBigText {
  font-size: 16px;
  font-weight: 900;
  color: var(--accent);
}

.infoSmallText {
  width: 85%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}

.infoSmallBoldText {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
}
