.container {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.pageWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  gap: 32px;
}

.infoWrap {
  padding: 24px 16px;
  border-radius: 12px;
  background-color: #e6e9f5;
  border: 1px solid rgba(0, 102, 255, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.accent {
  color: var(--accent);
}

.quoteIcon {
  width: 14px;
}
.authorIcon {
  width: 101px;
}

.quoteText {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.authorText {
  color: #7c7c7c;
  font-weight: 700;
  font-size: 18px;
}

.quoteWrap {
  padding: 24px 16px;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.keepText {
  margin-bottom: auto;
  text-align: center;
}
