.questionWrap {
  width: 100%;
  background-color: var(--white);
  padding: min(8vw, 32px);
  border-radius: min(6.1vw, 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.alignCenter {
  align-items: center;
}
