.protectiveContainer {
  padding: 31px 37px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-image: url("/images/filmsV3/05_protective_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.infoWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.number {
  font-weight: 700;
  font-size: 47px;
  line-height: 100%;
  letter-spacing: 0.01em;
}

.subTitle {
  max-width: 170px;
  font-weight: 700;
  font-size: 27px;
  line-height: 100%;
  letter-spacing: 0.01em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.text {
  font-weight: 400;
  font-size: 17px;
  line-height: 133%;
  letter-spacing: 0.01em;
  max-width: 75%;
}

.slider {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

.protectiveContainer :global(.swiper-pagination-bullet) {
  border-radius: 49px;
  width: 11px;
  height: 11px;
  background: var(--white);
  opacity: 0.66;
  margin: 0 8px !important;
}

.protectiveContainer :global(.swiper-pagination-bullet-active) {
  background: var(--acc-v3);
  opacity: 1;
}

.protectiveContainer
  :global(.swiper-pagination-bullets.swiper-pagination-horizontal) {
  bottom: -3px !important;
}
