.container {
  position: relative;
  padding: 37px;
  background-image: url("/images/filmsV3/01_hero_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: flex-end;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.mainTextWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mainTextWrap::after {
  content: "";
  display: block;
  width: 49px;
  height: 3px;
  background: var(--white);
}

.mainTitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
}

.mainText {
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
}

.text {
  font-weight: 400;
  font-size: 17px;
  line-height: 133%;
  letter-spacing: 0.01em;
}

.btnsWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rabatText {
  color: var(--acc-yellow);
  font-size: 23px;
}

.rabatPercent {
  font-size: 31px;
}
