.backBtn {
  position: absolute;
  left: 20px;
  top: -50px;
  padding: 6px;
  display: block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: #0000007a;
  border: 1px solid #0000007a;
  border-radius: 8px;
}
