.feedbackContainer {
  padding: 32px 37px;
  background-color: var(--black-v3);
}

.feedbackList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.feedbackWrap {
  width: 90%;
}

.feedbackWrap:nth-child(2n) {
  margin-left: auto;
}

.clientWrap {
  display: flex;
  gap: 16px;
  align-items: center;
}

.name {
  font-weight: 700;
  font-size: 19px;
  line-height: 100%;
  color: var(--white);
}

.date {
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 8px;
}

.rating {
  margin-top: 8px;
  display: flex;
  gap: 3px;
}

.star {
  width: 15px;
  height: 15px;
  background-image: url("/images/filmsV2/feedback-star.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  padding-left: 18px;
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 15px;
}
