.container {
  overflow: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.questionWrap {
  padding: 20px;
  display: flex;
  background-color: #ffffff74;
  border-radius: 13px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease, opacity 0.4s ease;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.swipeLeft {
  transform: translateX(-120%) rotate(-8deg);
  opacity: 0;
}

.swipeRight {
  transform: translateX(120%) rotate(8deg);
  opacity: 0;
}

.description {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

.imgWrap {
  width: 80%;
  height: auto;
}

.swipe {
  font-size: 12px;
  font-style: italic;
}

.answersBlock {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.answerLeft {
  display: flex;
  flex: 1 1 calc(50% - 8px);
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.answerLeft::before {
  content: "⬅️";
  display: block;
}

.answerRight {
  display: flex;
  flex: 1 1 calc(50% - 8px);
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.answerRight::after {
  content: "➡️";
  display: block;
}

.decor {
  width: 1px;
  height: 24px;
  background: #000;
}
