.container {
    padding: 0px 20px 100px 20px;
    background-color: var(--black);
}

.text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: var(--white);
    opacity: 0.75;
}

.linksWrap {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.links {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: var(--white);
    opacity: 0.75;
    text-align: center;

}