.feedbackWrap {
  width: 100%;
  min-height: 290px;
  padding: 24px 16px;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedbackText {
  margin-top: 12px;
  font-style: 14px;
  line-height: 130%;
}

.nicknameWrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
  padding-top: 12px;
}

.imgWrap {
  width: 40px;
}

.fnicknameText {
  font-size: 14px;
  color: #0006;
  display: flex;
  align-items: center;
  gap: 6px;

  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("/images/intensives/choose-plan/instagram.svg");
    background-size: cover;
  }
}

.slider {
  width: 100%;
}

.feedbackList :global(.swiper) {
  padding-bottom: 28px;
}

.feedbackList :global(.swiper-pagination) {
  position: absolute;
  bottom: 6px;
}

.feedbackList :global(.swiper-pagination-bullet) {
  border-radius: 8px;
  width: 7px;
  height: 7px;
  background: #0000005d;
}

.feedbackList :global(.swiper-pagination-bullet-active) {
  background: #0000006b;
  width: 20px;
  height: 7px;
}
