.container {
  padding: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--acc-v3);
  /* height: 760px; */
}

.infoWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding-top: 99%;
  background-image: url("/images/filmsV3/02_discount_tv.png");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position-x: 10px;
  background-position-y: -7px;
}

.infoTitle {
  font-weight: 900;
  font-size: 39px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--black);
}

.infoAccent {
  font-weight: 900;
  color: var(--red-v3);
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 10px;
}

.infoText {
  font-weight: 700;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--black);
  margin-top: 18px;
}
