.scrollToTop {
    position: fixed;
    z-index: 101;
    right: max(calc((100vw - 400px) / 2 + 10px), 20px);
    bottom: 20px;
    width: 36px;
    height: 36px;
    background-image: url('/images/filmsV2/scroll-up.svg');
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}