.container {
    padding: 40px 20px 20px 20px;
    margin-bottom: 40px;
    background-color: var(--black);
}

.filmsInfoItem {
    border-top: 1px solid #0081ff;
    border-radius: 20px;
    padding: 20px 30px;
    background: linear-gradient(180deg, #1d2431 0%, rgba(17, 17, 17, 0) 100%);
}

.infoWrap {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 144px;
}

.iconWrap {
    max-width: 96px;
    flex-shrink: 0;
}

.title {
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    color: var(--accent);
}

.subTitle {
    font-size: 16px;
    line-height: 120%;
    color: var(--accent);
    margin-bottom: 20px;
}

.text {
    font-size: 12px;
    color: var(--white);
    max-width: 135px;
}