.booksListWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.bookskWrap {
  width: 100%;
  min-height: 360px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackText {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.02em;
  color: #1f2937;
}

.imgWrap {
  /* width: min(23vw, 100px); */
}

.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.titleText {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-light);
}

.slider {
  width: 100%;
  padding-bottom: 50px;
}

.slider :global(.swiper-pagination) {
  width: 95%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  border-radius: 8px;
  height: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #f3f4f6;
}

.slider :global(.swiper-pagination-bullet) {
  border-radius: 8px;
  height: 8px;
  background: transparent;
  margin: 0 !important;
  flex: 1 1;
}

.slider :global(.swiper-pagination-bullet-active) {
  background: var(--accent);
  width: 20px;
  height: 8px;
}
