.booksListWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 24px 0;
}

.recommendedWrap {
  width: 100%;
  padding: 11px 23px;
  border-radius: 50px;
  background: var(--green-bg);
}

.recommendedText {
  font-weight: 700;
  font-size: 23px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #10b981;
}

.categoryWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.categoryText {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}

.bookskWrap {
  width: 100%;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrap {
  width: 100%;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.titleText {
  font-weight: 400;
  font-size: clamp(10px, 3.4vw, 14px);
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-light);
}

.booksListWrap .bookSlider {
  width: 100%;
  padding-bottom: min(5vw, 20px);
}

.booksListWrap .bookSlider :global(.swiper-pagination) {
  width: 95%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  border-radius: 8px;
  height: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #f3f4f6;
}

.booksListWrap .bookSlider :global(.swiper-pagination-bullet) {
  border-radius: 8px;
  height: 8px;
  background: transparent;
  margin: 0 !important;
  flex: 1 1;
}

.booksListWrap .bookSlider :global(.swiper-pagination-bullet-active) {
  background: var(--accent);
  width: 20px;
  height: 8px;
}
