.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  border-radius: 49px;
  color: var(--black-v3);
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  cursor: pointer;
}

.default {
  background-color: var(--acc-v3);
}

.blue {
  background: linear-gradient(90deg, #1f70f4 0%, #0034de 100%);
}

.red {
  background-color: var(--red-v3);
  color: var(--white);
}
