.planWrap {
  padding: 24px 16px;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.dark {
  background-color: #383838;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.paySafeWrap {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  background-color: #00bb770d;
  border-radius: 8px;
}

.paySafeText {
  font-size: 14px;
  color: #00bb77;
}

.paySafeIcon {
  fill: #00bb77;
  width: 24px;
}

.subscriptionText {
  font-size: 12px;
  color: #00000066;
  text-align: center;
}

.subscriptionTextGray {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.bold {
  font-weight: 600;
}

.blockWhiteTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: left;
  color: var(--white);
}
