.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    color: var(--white);
    margin-bottom: 100px;
}

.imageWrap {
    width: 100%;
    height: 240px;
    background-image: url('/images/thanks.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    margin-bottom: 40px;
}