.infoPageWrap {
  /* padding-top: 68px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.imageWrap {
  width: 260px;
}

.infoText {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-light);
  line-height: 150%;
}
