.text {
  font-size: 18px;
  color: var(--black-light);
  line-height: 150%;
}

.boldText {
  font-size: 22px;
  font-weight: 700;
  color: var(--black-light);
  line-height: 150%;
}

.textWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
