.benefitsWrap {
  padding: 24px 16px;
  border-radius: 12px;
  background-color: rgb(230, 242, 231);
  border: 1px solid rgba(0, 187, 119, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.blockTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: left;
}

.benefitsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.benefitsItem {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 14px;

  &::before {
    content: "⭐️";
    font-size: 18px;
  }
}
