.inputWrap {
  width: 100%;
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 14px;
  border: 2px solid var(--gray);
  cursor: pointer;
  transition: border var(--trans-dur) var(--trans-timing-function);

  &:hover,
  &:focus {
    border: 2px solid var(--accent);
  }
}

.mainText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.answerIcon {
  flex-shrink: 0;
}
