.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    color: var(--white);
    margin-bottom: 10px;
}

.infoSection {
    position: relative;
    width: 112%;
    height: 105vw;
    max-height: 410px;
    background-image: url('/images/order-bg.png');
    background-size: cover;
    margin-left: -20px;
    margin-right: -20px;
}

.count {
    position: absolute;
    left: 7%;
    top: 8%;
    width: 60px;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent)
}

.order {
    position: absolute;
    width: 80%;
    top: 33%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-align: center;
    color: var(--accent)
}

.totalWrap {
    position: absolute;
    width: 60%;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.priceWrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
    opacity: 0.4;
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
}

.priceText {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #111;
    padding-bottom: 4px;
}

.priceSum {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: #111;
}

.priceVal{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #111;
}

.priceWithDiscountWrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.priceTextDiscount {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #111;
    padding-bottom: 8px;
}

.priceSumDiscount {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #ff1a26;
}

.priceValDiscount {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #ff1a26;
}

.progressBars{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.bar {
    margin-top: 20px;
    border-radius: 8px;
    width: 20px;
    height: 4px;
    background: #fff;
    opacity: 0.5;
}

.filled{
    background: var(--accent);
    opacity: 1;
}