.progressBarWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.progressText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stepText {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: #4a5565;
}

.percentText {
  color: var(--accent);
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
}

.progressWrapper {
  /* position: absolute;
  top: 0; */
  width: 100%;

  height: 7px;
  background-color: #f3f4f6;
  border-radius: 8px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background: var(--accent);
  border-radius: 8px;
  width: 0;
  transition: width 0.2s linear;
}

.progressLabel {
  right: 0;
  font-size: 12px;
  font-weight: 500;
  color: #333;
}
