:root {
  --white: #ffffff;
  --black: #101828;
  --black-light: #364153;
  --gray: #e5e7eb;
  --accent: #6366f1;

  --trans-dur: 300ms;
  --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
  overflow-x: hidden;
  margin: 0 auto;
  color: var(--black);
  background: #fff
    linear-gradient(
      135deg,
      rgba(99, 102, 241, 0.03) 0%,
      rgba(79, 70, 229, 0.08) 100%
    );
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  font-size: 16px;
  line-height: 1.2;
}

.centeredText {
  text-align: center;
}
