.container {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.questionWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.answerList {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 16px;
}

.answerItem {
  display: flex;
  justify-content: center;
  flex: 1 1 calc(50% - 10px);
}

.inputWrap {
  position: relative;
  width: 100%;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid #0000001a;
  cursor: pointer;
  /* transition: border var(--trans-dur) var(--trans-timing-function); */
}

.active {
  border: 1px solid var(--accent);

  &::after {
    content: "✓";
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--accent);
    color: var(--white);
  }
}

.text {
  font-size: 16px;
  text-align: center;
}
