.infoSmallBoldText {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
}

.discountedText {
  font-size: 11px;
  line-height: 1.3;
  color: #686262;
}
