.subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
}
.textWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text {
  font-size: 18px;
  color: var(--black-light);
  line-height: 150%;
}

.boldText {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-light);
  line-height: 150%;
}
