.landing-page {
    width: 100%;
    /*border: 1px solid crimson;*/
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

section {
    width: 100%;
    /*border: 1px solid crimson;*/
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & img.img1 {
        width: 100%;
        height: auto;
    }

    & .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & p {
            line-height: 1.5rem;

            span {
                font-size: .8rem;
                font-weight: 500;
                font-style: italic;
            }
        }
    }

    & .lists {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & .list-block {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        h4 {
            display: block;
        }

        & ul {
            margin-left: 1rem;
            line-height: 1.5rem;
        }
    }

    & a {
        /*text-decoration: none;*/
        display: block;
        border-bottom: 1px solid var(--text-secondary);
        margin: -1rem auto 1rem auto;
        font-size: .85rem;
        font-weight: bold;
        color: var(--text-secondary);
    }


    & button {
        margin: 0 auto;
        color: var(--text);
        padding: 1rem 2rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;;
    }
}