* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}

@keyframes btnRotate {
  0%,
  10%,
  20%,
  100% {
    transform: rotate(0deg);
  }
  5%,
  15% {
    transform: rotate(20deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

.kidstv-china-exhibition {
  --black-color: #000326;
  --second-black-color: #202020;
  --white-color: #ffffff;
  --accent-color: #008cff;
  --trans-dur: 300ms;
  --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gap: clamp(16px, 1.6vw, 32px);

  position: relative;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 4vw, 40px);
  line-height: 133%;
  color: var(--black-color);
  text-align: left;
  background-color: var(--white-color);
  max-width: 1920px;
  margin: 0 auto;

  @media (min-width: 760px) {
    font-size: clamp(20px, 2vw, 40px);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--black-color);
  }

  ul,
  ol {
    padding-left: 0;
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  section {
    padding: 12vw 0 15vw 0;

    @media (min-width: 760px) {
      padding: min(7vw, 146px) 0;
    }
  }

  .container {
    max-width: 100%;
    padding: 0 10vw;

    @media (min-width: 760px) {
      padding: 0 min(7vw, 146px);
    }
  }

  .link {
    text-decoration: none;
  }

  .list {
    list-style: none;
  }

  .hidden {
    opacity: 0;
    /* pointer-events: none; */
  }

  .white-color {
    color: var(--white-color);
  }

  .section-top-border {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -30px;
    overflow: hidden;

    /* @media (min-width: 760px) {
      margin-top: -30px;
    } */
  }

  .section-title {
    font-weight: 600;
    font-size: clamp(24px, 10vw, 64px);
    line-height: 100%;
    letter-spacing: 0.01em;
    color: var(--accent-color);

    @media (min-width: 760px) {
      font-size: clamp(40px, 4vw, 80px);
    }
  }

  .section-title-mb {
    margin-bottom: clamp(32px, 10vw, 64px);

    @media (min-width: 760px) {
      margin-bottom: clamp(32px, 3.3vw, 64px);
    }
  }

  .backdrop,
  .backdrop-submit {
    position: fixed;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background-color: #0003265e;

    transition: opacity var(--trans-dur) var(--trans-timing-function),
      visibility var(--trans-dur) var(--trans-timing-function);
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .backdrop.is-hidden .mob-menu {
    transform: translateX(-100%);
  }

  .backdrop-submit.is-hidden .submit-message-wrap {
    transform: scale(0) translate(50%, 50%);
  }

  /* HEADER */

  .header {
    position: fixed;
    z-index: 100;
    width: 100%;
    max-width: 1920px;
    padding: max(10px, 0.5vw) 0;
    background-color: var(--accent-color);

    @media (min-width: 760px) {
      padding: min(12px, 0.625vw) 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      @media (min-width: 760px) {
        justify-content: space-between;
      }

      .mob-menu-btn {
        position: absolute;
        left: 3%;
        border: none;
        background-color: transparent;
        cursor: pointer;

        @media (min-width: 760px) {
          display: none;
        }
      }

      .logo {
        font-weight: 600;
        font-size: clamp(32px, 2vw, 40px);
        line-height: 100%;
        letter-spacing: 0.01em;
      }

      .navigation {
        display: none;

        @media (min-width: 760px) {
          display: block;
        }

        .menu-list {
          display: flex;
          gap: 2vw;
          align-items: center;

          .menu-item {
            display: flex;
            align-items: center;

            .menu-link {
              font-weight: 600;
              font-size: clamp(14px, 1vw, 20px);
              line-height: 120%;
              color: var(--white-color);
            }
          }
        }
      }
    }
  }

  /* Get in Touch */

  .get-in-touch {
    position: fixed;
    z-index: 111;
    right: max(calc((100vw - 1920px) / 2 + 20px), 2vw);
    bottom: min(2vw, 40px);
    display: block;
    width: min(26vw, 110px);
    max-width: 242px;
    animation: btnRotate 5s ease-out infinite;

    @media (min-width: 760px) {
      width: 13vw;
    }

    &:hover,
    &:focus {
      animation-play-state: paused;
    }
  }

  /* Mob menu */

  .mob-menu {
    position: relative;
    height: 100vh;
    width: 75%;
    padding: 64px 36px;
    border-radius: 0 20px 20px 0;
    background-color: var(--white-color);
    transform: translateX(0%);

    transition: transform var(--trans-dur) var(--trans-timing-function);

    @media (min-width: 760px) {
      display: none;
    }

    .mob-menu-close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }

    .mob-menu-list {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .menu-link {
        font-weight: 600;
        font-size: clamp(14px, 5vw, 32px);
        line-height: 100%;
        color: var(--accent-color);
      }
    }
  }

  /* Submit message */

  .submit-message-wrap {
    position: relative;
    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 521px;
    width: 90%;
    height: auto;
    padding: clamp(20px, 2.6vw, 50px) clamp(20px, 2vw, 40px);
    border-radius: 30px;
    background-color: var(--white-color);
    /* transform: scale(1) translate(-50%, -50%); */
    transform: scale(1);

    transition: transform var(--trans-dur) var(--trans-timing-function);

    .submit-menu-close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }

    .submit-menu-message {
      font-weight: 500;
      font-size: 24px;
      line-height: 133%;
      text-align: center;
      color: var(--second-black-color);
    }

    .submit-message-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 50px;
      width: 238px;
      height: 46px;
      background-color: var(--accent-color);
      color: var(--white-color);

      &.display-none {
        display: none;
      }
    }
  }

  /* HERO SECTION */

  .hero {
    background-image: url("/kidtvb2b/img/bg-hero-mob.jpg");
    background-size: cover;
    height: 176vw;
    padding: 18vw 0;

    @media (min-width: 760px) {
      padding: min(7vw, 146px) 0;
      background-image: url("/kidtvb2b/img/bg-hero.jpg");
      height: 57vw;
      max-height: 1100px;
    }

    .hero-info {
      max-width: 100%;

      @media (min-width: 760px) {
        max-width: 45%;
      }

      .hero-title {
        font-weight: 600;
        font-size: clamp(30px, 15vw, 120px);

        line-height: 100%;
        color: var(--white-color);

        @media (min-width: 760px) {
          font-size: clamp(60px, 6.25vw, 120px);
        }
      }

      .hero-sub-title {
        font-weight: 600;
        font-size: 7vw;
        line-height: 120%;
        margin-top: 10px;
        max-width: 100%;
        color: var(--white-color);

        @media (min-width: 760px) {
          max-width: 65%;
          font-size: clamp(26px, 2.7vw, 52px);
        }
      }

      .hero-text {
        font-size: clamp(12px, 5vw, 40px);
        margin-top: min(5vw, 104px);
        color: var(--white-color);
        line-height: 133%;
        letter-spacing: 0.01em;

        @media (min-width: 760px) {
          font-size: clamp(20px, 2vw, 40px);
        }
      }
    }
  }

  /* FEATURES */

  .features {
    background-color: var(--white-color);

    .features-list {
      display: flex;
      gap: var(--gap);
      flex-direction: column;
      margin-top: min(13vw, 52px);

      @media (min-width: 760px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: min(5.5vw, 104px);
      }

      .features-item {
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        @media (min-width: 760px) {
          flex: 1 1 calc(50% - 16px);
        }

        .features-text {
          position: absolute;
          left: 6%;
          top: 8%;
          font-weight: 600;
          font-size: clamp(12px, 5vw, 40px);
          line-height: 100%;
          letter-spacing: 0.01em;
          color: var(--accent-color);

          &.white-color {
            color: var(--white-color);
          }

          @media (min-width: 760px) {
            font-size: clamp(20px, 2.7vw, 52px);
            left: 8%;
            top: 14%;
          }
        }
        /* .features-link {
          position: absolute;
          left: 8%;
          bottom: 14%;
          display: block;
          width: clamp(20px, 2.7vw, 52px);
          height: clamp(20px, 2.7vw, 52px);
          background-image: url('/kidtvb2b/img/arrow.svg');
          background-repeat: no-repeat;
          background-size: cover;
          transition: transform var(--trans-dur) var(--trans-timing-function);

          &:hover,
          &:focus {
            transform: scale(1.1);
          }
        } */
      }
    }
  }

  /* FRAME SECTION */

  .frame {
    position: relative;
    background-image: url("/kidtvb2b/img/frame/frame-bg-mob.jpg");
    background-size: cover;
    height: 170vw;

    @media (min-width: 760px) {
      background-image: url("/kidtvb2b/img/frame/frame-bg.jpg");
      height: 57vw;
      max-height: 1100px;
    }

    .move-here-frame {
      position: absolute;
      z-index: 20;
      width: 39%;
      right: 43%;
      top: 55%;
      transition: opacity var(--trans-dur) var(--trans-timing-function);

      @media (min-width: 760px) {
        width: 17%;
        right: 40%;
        top: 30%;
      }
    }

    .tv-wrap {
      position: absolute;
      z-index: 10;
      right: -40%;
      top: 43%;
      width: 115%;

      @media (min-width: 760px) {
        right: -1%;
        top: 5%;
        width: 59%;
      }

      .tv-1,
      .tv-2,
      .tv-0 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: opacity var(--trans-dur) var(--trans-timing-function);
      }
    }

    .frame-tv-trigger {
      position: absolute;
      z-index: 30;
      background-color: transparent;
      transform: translateX(-50%);
      width: 55%;
      height: 25%;
      top: 48%;
      left: 71%;

      @media (min-width: 760px) {
        width: 43%;
        height: 44%;
        top: 12%;
        left: 72.5%;
      }
    }

    .info-wrap {
      max-width: 83%;

      @media (min-width: 760px) {
        max-width: 37%;
      }
    }
  }

  /* NIGHT-LIGHT SECTION */

  .night-light {
    padding: 0;
    position: relative;
    height: 172vw;
    z-index: 9;

    @media (min-width: 760px) {
      height: 57vw;
      max-height: 1100px;
    }

    .move-here-night {
      position: absolute;
      z-index: 20;
      width: 39%;
      right: 50%;
      top: 50%;
      transition: opacity var(--trans-dur) var(--trans-timing-function);

      @media (min-width: 760px) {
        width: 14%;
        right: 35%;
        top: 30%;
      }
    }

    .night-light-img-first {
      position: absolute;
      width: 100%;
      z-index: 10;
    }

    .night-light-img-second {
      position: absolute;
      width: 100%;
      z-index: 11;
      transition: opacity var(--trans-dur) var(--trans-timing-function);
    }

    .night-light-trigger {
      position: absolute;
      z-index: 30;
      background-color: transparent;
      width: 70%;
      height: 27%;
      top: 57%;
      left: 62%;
      transform: translateX(-50%);

      @media (min-width: 760px) {
        width: 43%;
        height: 45%;
        top: 38%;
        left: 50%;
      }
    }

    .info-wrap {
      position: absolute;
      z-index: 35;
      top: 7%;
      left: 7%;
      max-width: 63%;

      @media (min-width: 760px) {
        max-width: 33%;
      }
      @media (min-width: 877px) {
        max-width: 27%;
      }

      .section-title {
        color: var(--white-color);
      }

      .night-light-text {
        display: block;
        @media (min-width: 760px) {
          max-width: 56%;
        }
      }
    }
  }

  /* PROTECTIVE SECTION */

  .protective {
    padding: 0;
    position: relative;
    z-index: 40;
    background-image: url("/kidtvb2b/img/protective/bg-protective-mob.jpg");
    background-size: cover;
    height: 176vw;

    @media (min-width: 760px) {
      background-image: url("/kidtvb2b/img/protective/bg-protective.jpg");
      height: 57vw;
      max-height: 1100px;
    }

    .protective-fx {
      background: linear-gradient(
          180deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 32.91%
        ),
        linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 36.14%);
      position: absolute;
      width: 100%;
      height: 113vw;
      z-index: 43;
      bottom: 0;

      @media (min-width: 760px) {
        top: 0;
        height: 100%;
      }
    }

    .move-here-protective {
      position: absolute;
      z-index: 45;
      width: 39%;
      right: 53%;
      top: 45%;
      transition: opacity var(--trans-dur) var(--trans-timing-function);

      @media (min-width: 760px) {
        width: 14%;
        right: 33%;
        top: 53%;
      }
    }

    .protective-video {
      position: absolute;
      z-index: 42;
      width: 100%;
      overflow: hidden;
      height: 113vw;
      bottom: 0;
      transition: opacity var(--trans-dur) var(--trans-timing-function);

      @media (min-width: 760px) {
        height: auto;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }
    }

    .protective-trigger {
      position: absolute;
      z-index: 44;
      background-color: transparent;
      width: 100%;
      height: 65%;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: 760px) {
        width: 20%;
        height: 21%;
        top: 40%;
        left: 50%;
      }
    }

    .info-wrap {
      position: absolute;
      z-index: 47;
      top: 7%;
      left: 7%;
      max-width: 90%;

      @media (min-width: 760px) {
        max-width: 27%;
      }
    }
  }

  /* STAND SECTION */

  .stand {
    padding: 0;
    position: relative;
    z-index: 50;
    background-image: url("/kidtvb2b/img/stand/bg-stand-mob.jpg");
    background-size: cover;
    height: 176vw;

    @media (min-width: 760px) {
      background-image: url("/kidtvb2b/img/stand/bg-stand.jpg");
      height: 57vw;
      max-height: 1100px;
    }

    .stand-fx {
      background: linear-gradient(
          180deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 32.91%
        ),
        linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 36.14%);
      position: absolute;
      width: 100%;
      height: 113vw;
      z-index: 53;
      bottom: 0;

      @media (min-width: 760px) {
        top: 0;
        height: 100%;
      }
    }

    .move-here-stand {
      position: absolute;
      z-index: 55;
      width: 39%;
      right: 21%;
      top: 70%;
      transition: opacity var(--trans-dur) var(--trans-timing-function);

      @media (min-width: 760px) {
        width: 14%;
        right: 21%;
        top: 65%;
      }
    }

    .stand-video {
      position: absolute;
      z-index: 52;
      overflow: hidden;
      height: 113vw;
      width: 100%;
      bottom: 0;
      transition: opacity var(--trans-dur) var(--trans-timing-function);

      @media (min-width: 760px) {
        height: auto;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }
    }

    .stand-trigger {
      position: absolute;
      z-index: 54;
      background-color: transparent;
      width: 100%;
      height: 65%;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: 760px) {
        width: 20%;
        height: 21%;
        top: 60%;
        left: 72%;
      }
    }

    .info-wrap {
      position: absolute;
      z-index: 57;
      top: 7%;
      left: 7%;
      max-width: 90%;

      @media (min-width: 760px) {
        max-width: 27%;
      }
    }
  }

  /* ACCESSORIES SECTION */

  .accessories {
    background-color: var(--white-color);
    position: relative;
    z-index: 60;

    .accessories-list {
      display: flex;
      gap: var(--gap);
      flex-direction: column;
      margin-top: min(13vw, 52px);

      @media (min-width: 760px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: min(5.5vw, 104px);
      }

      .accessories-item {
        position: relative;
        flex: 1 1 calc(50% - 16px);
        border-radius: 20px;
        overflow: hidden;

        .accessories-text {
          position: absolute;
          left: 5%;
          top: 8%;
          font-weight: 600;
          font-size: clamp(12px, 5vw, 40px);
          line-height: 100%;
          letter-spacing: 0.01em;
          color: var(--accent-color);

          @media (min-width: 760px) {
            font-size: clamp(20px, 2.7vw, 52px);
          }
        }
      }
    }
  }

  /* MARKETING SECTION */

  .marketing-support {
    background-color: var(--accent-color);
    position: relative;
    z-index: 60;

    .section-title {
      color: var(--white-color);
    }

    .marketing-list {
      margin-top: clamp(52px, 5.4vw, 104px);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-gap: var(--gap);

      @media (min-width: 760px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }
      .landing {
        grid-area: 1 / 1 / 4 / 2;
        background-image: url("/kidtvb2b/img/marketing/landing.png");
        aspect-ratio: 1.14 / 1;

        @media (min-width: 760px) {
          grid-area: 1 / 1 / 4 / 2;
        }
      }
      .pos {
        grid-area: 1 / 2 / 4 / 3;
        background-image: url("/kidtvb2b/img/marketing/pos.png");

        @media (min-width: 760px) {
          grid-area: 4 / 1 / 7 / 2;
        }
      }
      .branding {
        grid-area: 4 / 1 / 8 / 2;
        background-image: url("/kidtvb2b/img/marketing/branding.png");

        @media (min-width: 760px) {
          grid-area: 1 / 2 / 5 / 3;
        }
      }
      .video {
        grid-area: 4 / 2 / 6 / 3;
        background-image: url("/kidtvb2b/img/marketing/video.png");

        @media (min-width: 760px) {
          grid-area: 1 / 3 / 3 / 4;
        }
      }
      .packaging {
        grid-area: 6 / 2 / 8 / 3;
        background-image: url("/kidtvb2b/img/marketing/packaging.png");

        @media (min-width: 760px) {
          grid-area: 3 / 3 / 5 / 4;
        }
      }
      .banners {
        grid-area: 8 / 1 / 10 / 3;
        background-image: url("/kidtvb2b/img/marketing/banners.png");

        @media (min-width: 760px) {
          grid-area: 5 / 2 / 7 / 4;
        }
      }

      .marketing-item {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: 760px) {
          border-radius: 20px;
        }

        .marketing-text {
          position: absolute;
          z-index: 70;
          font-size: 28px;
          font-size: clamp(10px, 2.9vw, 28px);
          font-weight: 600;
          line-height: 100%;

          @media (min-width: 760px) {
            font-size: clamp(12px, 1.4vw, 28px);
          }
        }

        .landing-text {
          color: var(--white-color);
          bottom: 5%;
          right: 5%;
          max-width: 60%;
          text-align: right;
          display: inline-block;

          @media (min-width: 760px) {
            max-width: 100%;
            bottom: 4%;
            right: 7%;
          }
        }

        .pos-text {
          color: var(--black-color);
          top: 6%;
          left: 7%;

          @media (min-width: 760px) {
            top: 4%;
          }
        }

        .branding-text {
          color: var(--black-color);
          top: 5%;
          right: 20%;

          @media (min-width: 760px) {
            right: 7%;
            top: 4%;
          }
        }

        .video-text {
          color: var(--white-color);
          bottom: 6%;
          right: 7%;

          @media (min-width: 760px) {
            bottom: 4%;
          }
        }

        .packaging-text {
          color: var(--black-color);
          bottom: 6%;
          left: 7%;

          @media (min-width: 760px) {
            bottom: 4%;
          }
        }

        .banners-text {
          color: var(--white-color);
          top: 8%;
          left: 4%;

          @media (min-width: 760px) {
            top: 4%;
          }
        }
      }
    }
  }

  /* FAQ section */

  .faq {
    position: relative;
    z-index: 70;
    background-color: #e7ebeb;

    .faq-list {
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      .faq-item {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        background-color: var(--white-color);
        padding: clamp(20px, 5vw, 40px);
        border-radius: 20px;

        @media (min-width: 760px) {
          padding: clamp(20px, 2vw, 40px);
        }

        .faq-question-wrap {
          display: flex;
          gap: 20px;
          cursor: pointer;

          @media (min-width: 760px) {
            cursor: auto;
          }

          .question-icon {
            flex-shrink: 0;
            width: max(5vw, 25px);
            height: max(5vw, 25px);
            transition: transform var(--trans-dur) var(--trans-timing-function);

            &.rotated {
              transform: rotate(180deg);
            }

            @media (min-width: 760px) {
              display: none;
            }
          }

          .faq-question {
            font-weight: 600;
            font-size: clamp(18px, 5vw, 28px);
            line-height: 121%;
            color: var(--accent-color);

            @media (min-width: 760px) {
              font-size: clamp(18px, 1.4vw, 28px);
            }
          }
        }

        .faq-answer {
          display: none;
          font-weight: 500;
          font-size: clamp(14px, 1vw, 18px);
          line-height: 133%;
          color: var(--second-black-color);

          &.active {
            display: block;
          }

          @media (min-width: 760px) {
            display: block;
          }
        }
      }
    }
  }

  /* MARKETING SECTION */

  .benefits {
    position: relative;
    z-index: 80;
    background-color: var(--accent-color);

    .section-title {
      color: var(--white-color);
    }

    .benefits-list {
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      @media (min-width: 760px) {
        flex-direction: row;
        flex-wrap: wrap;
        /* display: grid;
        grid-column-gap: var(--gap);
        grid-row-gap: var(--gap);
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1.2fr 1fr;

        .benefets-item:nth-child(1) {
          grid-area: 1 / 1 / 2 / 3;
        }
        .benefets-item:nth-child(2) {
          grid-area: 1 / 3 / 2 / 5;
        }
        .benefets-item:nth-child(3) {
          grid-area: 1 / 5 / 2 / 7;
        }
        .benefets-item:nth-child(4) {
          grid-area: 2 / 1 / 3 / 4;
        }
        .benefets-item:nth-child(5) {
          grid-area: 2 / 4 / 3 / 7;
        } */
      }

      .benefets-item {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        background-color: var(--white-color);
        padding: clamp(20px, 5vw, 40px);
        border-radius: 20px;

        @media (min-width: 760px) {
          padding: clamp(20px, 2vw, 40px);
          flex: 1 1 calc(50% - 16px);
        }

        .benefets-title {
          font-weight: 600;
          font-size: clamp(60px, 16vw, 120px);
          line-height: 1;
          letter-spacing: 0.01em;
          color: var(--accent-color);

          @media (min-width: 760px) {
            font-size: clamp(60px, 6.25vw, 120px);
          }
        }

        .benefets-subtitle {
          font-weight: 600;
          font-size: clamp(18px, 5vw, 28px);
          line-height: 121%;
          color: var(--accent-color);

          @media (min-width: 760px) {
            font-size: clamp(18px, 1.4vw, 28px);
          }
        }

        .benefets-text {
          font-weight: 500;
          font-size: clamp(14px, 3vw, 18px);
          line-height: 133%;
          color: var(--second-black-color);

          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2; /* Кількість рядків до обрізання */
          -webkit-box-orient: vertical;

          @media (min-width: 760px) {
            font-size: clamp(14px, 1vw, 18px);
            -webkit-line-clamp: unset; /* Відключає обмеження рядків */
            overflow: visible;
            text-overflow: unset;
          }

          &.expanded {
            line-clamp: none;
            -webkit-line-clamp: unset; /* Відключає обмеження рядків */
            overflow: visible;
            text-overflow: unset;
          }
        }

        .show-more-wrap {
          display: flex;
          gap: 10px;
          justify-content: flex-end;
          align-items: center;
          cursor: pointer;

          @media (min-width: 760px) {
            display: none;
          }

          .show-more-text {
            align-self: center;
            font-weight: 500;
            font-size: clamp(14px, 3vw, 18px);
            line-height: 133%;
            color: var(--accent-color);
          }

          .benefits-icon {
            flex-shrink: 0;
            width: max(5vw, 25px);
            height: max(5vw, 25px);
            transition: transform var(--trans-dur) var(--trans-timing-function);

            &.rotated {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  /* CONTACT US SECTION */

  .contact-us {
    position: relative;
    z-index: 90;
    background-image: url("/kidtvb2b/img/bg-contact-us-mob.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
      background-image: url("/kidtvb2b/img/bg-contact-us.jpg");
    }

    .container {
      display: flex;
      gap: min(10vw, 52px);
      flex-direction: column-reverse;

      @media (min-width: 760px) {
        flex-direction: row;
        gap: var(--gap);
      }

      .info-text-mob {
        font-weight: 400;
        font-size: clamp(14px, 4vw, 18px);
        line-height: 133%;
        letter-spacing: 0.01em;
        color: var(--white-color);

        @media (min-width: 760px) {
          display: none;
        }
      }

      .contacts-wrap,
      .info-wrap {
        flex: 1 1 calc(50% - 16px);
      }

      .contacts-wrap {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--gap);
        align-items: center;

        @media (min-width: 760px) {
          flex-direction: column;
        }

        .conacts-backdrop {
          padding: clamp(20px, 2vw, 40px);
          border-radius: 20px;
          width: 100%;
          max-width: 360px;
          background-color: var(--white-color);

          @media (min-width: 760px) {
            max-width: 521px;
          }

          .contact-form-style {
            .inputs-wrap {
              width: 100%;
              position: relative;

              input,
              textarea {
                display: block;
                border: 1px solid #e3e3e3;
                border-radius: 25px;
                padding: 17px 21px;
                width: 100%;
                font-weight: 400;
                font-size: 16px;
              }

              textarea {
                margin-bottom: 24px;
                resize: none;
                height: 127px;
              }

              input {
                margin-bottom: 16px;
              }

              .error-message {
                position: absolute;
                color: red;
                font-size: 10px;
                bottom: -13px;
                left: 10px;
                line-height: 1;
              }
            }

            .checkbox-container-wrap {
              display: flex;
              gap: 10px;

              .checkbox-container {
                display: flex;
                align-items: flex-start;
                line-height: 1;
                margin-bottom: 24px;
              }

              .checkbox-container input {
                display: none;
              }

              .checkbox-custom {
                width: 20px;
                height: 20px;
                border: 1px solid #626262;
                flex-shrink: 0;
                display: inline-block;
                border-radius: 5px;
                cursor: pointer;
                margin-right: 10px;
                position: relative;
              }

              .checkbox-container input:checked + .checkbox-custom::after {
                content: "✓";
                position: absolute;
                font-size: 18px;
                left: 2px;
                top: 0px;
                color: #626262;
              }

              .legat-text {
                font-weight: 400;
                font-size: 14px;
                color: var(--second-black-color);

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-clamp: 3;
                -webkit-line-clamp: 3; /* Кількість рядків до обрізання */
                -webkit-box-orient: vertical;

                &.expanded {
                  line-clamp: none;
                  -webkit-line-clamp: unset; /* Відключає обмеження рядків */
                  overflow: visible;
                  text-overflow: unset;
                }
              }

              .checkbox-container-icon {
                flex-shrink: 0;
                width: 20px;
                height: 20px;
                transition: transform var(--trans-dur)
                  var(--trans-timing-function);
                cursor: pointer;

                &.rotated {
                  transform: rotate(180deg);
                }
              }
            }

            .submit-btn {
              background-color: #d9d9d9;
              border-radius: 50px;
              border: none;
              width: 100%;
              padding: 16px 20px;
              font-weight: 500;
              font-size: 16px;
              line-height: 125%;
              text-align: center;
              color: var(--white-color);
              cursor: not-allowed;

              .spinner {
                display: none;
                width: 16px;
                height: 16px;
                border: 2px solid white;
                border-top: 2px solid transparent;
                border-radius: 50%;
                margin-left: 8px;
                animation: spin 0.6s linear infinite;

                &.active {
                  display: inline-block;
                }
              }
            }

            .submit-btn.active {
              background-color: var(--accent-color);
              cursor: pointer;
            }
          }

          .contact-info {
            display: flex;
            gap: var(--gap);
            align-items: center;
            flex-direction: column;

            @media (min-width: 760px) {
              flex-direction: row;
            }

            .contact-photo-wrap {
              width: min(24vw, 120px);

              @media (min-width: 760px) {
                width: min(6.2vw, 120px);
                flex-shrink: 0;
              }
            }
            .contact-info-wrap {
              display: flex;
              flex-direction: column;
              align-items: center;

              @media (min-width: 760px) {
                align-items: flex-start;
              }

              .manager-name {
                margin-bottom: clamp(10px, 1vw, 16px);
                font-weight: 600;
                font-size: clamp(18px, 6.4vw, 28px);
                line-height: 121%;
                color: var(--accent-color);

                @media (min-width: 760px) {
                  font-size: clamp(18px, 1.4vw, 28px);
                }
              }

              .manager-position,
              .manager-contact {
                font-weight: 500;
                font-size: clamp(14px, 4vw, 18px);
                line-height: 133%;
                color: var(--second-black-color);

                @media (min-width: 760px) {
                  font-size: clamp(14px, 1vw, 18px);
                }
              }

              .manager-position {
                text-align: center;

                @media (min-width: 760px) {
                  text-align: left;
                }
              }

              .manager-socials-wrap {
                margin-top: clamp(16px, 1.6vw, 32px);

                .manager-contact.whatsup,
                .manager-contact.mail {
                  display: flex;
                  gap: clamp(10px, 1vw, 16px);

                  align-items: center;
                  &::before {
                    content: "";
                    display: block;
                    width: clamp(20px, 1.6vw, 32px);
                    height: clamp(20px, 1.6vw, 32px);
                  }
                }

                .manager-contact.whatsup {
                  text-decoration: none;
                  &::before {
                    background-image: url("/kidtvb2b/img/contacts/whatsup.svg");
                    background-size: cover;
                  }
                }

                .manager-contact.mail {
                  margin-top: 8px;
                  text-decoration: none;
                  &::before {
                    background-image: url("/kidtvb2b/img/contacts/mail.svg");
                    background-size: cover;
                  }
                }
              }
            }
          }
        }
      }

      .info-wrap {
        .section-title {
          color: var(--white-color);
          max-width: 480px;
        }
        .info-text {
          font-weight: 400;
          font-size: clamp(14px, 4vw, 18px);
          line-height: 133%;
          letter-spacing: 0.01em;
          color: var(--white-color);

          @media (min-width: 760px) {
            font-size: clamp(14px, 1vw, 18px);
          }
        }

        .first-info-text {
          display: none;
          margin-bottom: 16px;
          margin-top: clamp(52px, 5.4vw, 104px);

          @media (min-width: 760px) {
            display: block;
          }
        }

        .second-info-text {
          margin-top: clamp(18px, 8.5vw, 44px);

          @media (min-width: 760px) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
