.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.questionWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.infoText {
  text-align: center;
}
