.filmsContainer {
  padding: 31px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--white);
}

.container {
  padding: 0 37px;
}

.infoWrap {
  padding: 37px;
  aspect-ratio: 280 / 474;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.title {
  font-weight: 700;
  font-size: clamp(26px, 12.5vw, 47px);
  line-height: 1;
  letter-spacing: 0.01em;
  color: var(--white);
}

.subTitle {
  font-size: clamp(16px, 7.2vw, 27px);
  font-weight: 700;
  line-height: 100%;
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 20px;
}

.text {
  font-size: clamp(12px, 4.5vw, 17px);
  color: var(--white);
  max-width: 185px;
  line-height: 133%;
  letter-spacing: 0.01em;
}

.slider {
  width: 100%;
  padding-bottom: 40px;
}

.filmsContainer :global(.swiper-pagination-bullet) {
  border-radius: 49px;
  width: 11px;
  height: 11px;
  background: #000;
  opacity: 0.1;
  margin: 0 8px !important;
}

.filmsContainer :global(.swiper-pagination-bullet-active) {
  background: var(--acc-v3);
  opacity: 1;
}

.filmsContainer
  :global(.swiper-pagination-bullets.swiper-pagination-horizontal) {
  bottom: -3px !important;
}
