.container {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.questionWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  height: 100%;
}
