.faqList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faqItem {
  background-color: var(--white);
  padding: 24px;
  border-radius: 16px;
  background-color: #e7e7f7;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

.faqQuestionWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.faqQuestion {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--black-light);
}

.faqIconWrap {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.194);
  border-radius: 50%;
}

.faqIcon {
  transform: rotate(0deg);
  transition: transform 0.9s ease;
}

.faqAnswer {
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-light);

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
}

.faqItem.open .faqAnswer {
  max-height: 1000px;
  margin-top: 16px;
  opacity: 1;
}

.faqItem.open .faqIcon {
  transform: rotate(180deg);
}
