.container {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.pageWrap {
  /* padding-top: 32px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 32px;
}

.infoWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.muiImage {
  width: 100%;
}
