.container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
}

.center {
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.logoText {
  color: var(--accent);
  font-weight: 900;
  font-size: 24px;
}
