.offerWrap {
  border-radius: 24px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.timerWrap {
  background: #f87171;
  padding: 24px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerText {
  font-weight: 700;
  font-size: clamp(12px, 5.5vw, 24px);
  color: #fff;
}

.contentWrap {
  background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%);
  padding: 24px 48px 48px 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: left;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--white);
}

.dollarText {
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}

.infoText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
